.listed-items{
    background-color: lightskyblue;
    padding: 10px;
    border: 2px solid rgb(72, 72, 112);
    border-radius: 20px;
    color: rgb(240, 240, 240);
    margin: 10px;
}
.list-btn{
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
}
.list-btn:hover{
    background-color: rgb(59, 174, 245);
}